@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
  font-family: 'Inter', sans-serif;
  color: #0f172a;
}

#root {
  width: 100%;
  min-height: 100vh;
}